/**
 * Visual improvements, some more important than other.
 */

.smart-table .smart-table--column {
  margin-bottom: 4em;
}

.smart-table .smart-table--row {
  margin: 0;
  padding: .5em;
}

li:nth-child(2n) {
  background: lightgrey;
}

.smart-table--row-header {
  font-weight: 400;
}
