/**
 * "Behavioural" code, making our "table" responsive.
 */

/** <table> equivalent. By default (mobile first), stack the columns. */
.smart-table {
  display: flex;
  flex-direction: column;
}

/** Expand columns and cells. */
.smart-table--column,
.smart-table--row > * {
  flex-grow: 1;
}

/** Collapsable columns, when the space is too narrow */
.smart-table--column__collapsable {
  display: none;
}

.smart-table--row {
  display: flex;
}

/** Hides unnecessary headers. */
.smart-table--row-header__hidden {
  visibility: hidden;
}

/** Make name/meaning and value play well together on the same cell. */
.smart-table--row-meaning,
.smart-table--row-value {
  display: inline;
}

/** When there's enough space... */
/** Note: the width value heavily depends on the table content. */
@media (min-width: 550px) {
  /** Place rows side by side. */
  .smart-table {
    flex-direction: row;
  }

  /** Hide individual names/meanins, since we have a column with that. */
  .smart-table--row-meaning {
    display: none;
  }

  /** Show column with the rows' name/meaning. */
  .smart-table--column__collapsable,
  .smart-table--column__collapsable .smart-table--row-meaning {
    display: block;
  }
}
